@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-base-content text-lg;
}

/* Titles */
h1 {
  @apply text-base-content text-6xl;
}
h2 {
  @apply text-base-content text-center text-5xl font-semibold tracking-wide text-balance mb-20 leading-tight;
}

/* Galery - san marcos sierras */
section #galery {
  display: flex;
  width: auto;
  height: 430px;
}

#galery img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

#galery img:hover {
  cursor: auto;
  width: 600px;
  opacity: 1;
  filter: contrast(120%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tabs-bordered > .tab:checked {
  @apply border-solid border-accent text-accent;
  border-bottom-width: calc(var(--tab-border, 3px) + 3px);
}

.tabs-bordered > .tab {
  @apply pb-8;
}

.collapse-arrow > input:checked + .collapse-title {
  @apply text-accent;
}

p {
  @apply text-sm;
}
